html {
  height: 100%;
  width: 100%;
  background-color: #FDFF00;
animation: flash 0.1s infinte; 
}

@keyframes flash {
 0% {background-color: #FDFF00;} 
 50% {background-color: #FD00FF;} 
 100% {background-color: #FDFF00;} 
}
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}
